:root {
  --font-family: "Geometria", sans-serif;
  --content-big-width: 1180px;
  --content-small-width: 1140px;
  --container-offset: 15px;
  --container-big-width: calc(var(--content-big-width) + (var(--container-offset) * 2));
  --container-small-width: calc(var(--content-small-width) + (var(--container-offset) * 2));
  --black: #000;
  --pantone-184c: #f65275;
  --pantone-183c: #fc9bb3;
  --light-pink: #fff5f7;
  --pantone-183c-35: #fedce4;
  --white: #fff;
  --gray: #888b8d;
  --gray-10: #f3f3f4;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Geometria";
  src: url("../fonts/../fonts/GeometriaRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/../fonts/GeometriaMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  color: var(--black);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container-big {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-big-width);
}

.container-small {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-small-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.btn-main {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--white);
  background-color: var(--pantone-184c);
  border-radius: 100px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--pantone-184c);
}
.btn-main:hover {
  background-color: var(--white);
  color: var(--pantone-184c);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-look span {
  color: var(--pantone-184c);
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.01em;
  z-index: 10;
}
.btn-look img {
  background-color: var(--light-pink);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  padding: 7px;
  margin-left: -5px;
  margin-top: 2px;
}
.btn-look:hover img {
  background-color: var(--pantone-183c-35);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-arrow-rose {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  background-color: var(--pantone-183c);
  padding: 11px;
}

.btn-arrow-pink {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: var(--light-pink);
  padding: 12px;
}
.btn-arrow-pink:hover {
  background-color: var(--pantone-183c-35);
}
.btn-arrow-pink-left {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
@media (max-width: 640px) {
  .navigation {
    display: none;
  }
}
.navigation-mobile {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}
@media (max-width: 640px) {
  .navigation-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.title {
  font-size: 60px;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: -4px;
}
.title_pink {
  color: var(--pantone-184c);
}
@media (max-width: 850px) {
  .title {
    font-size: 50px;
  }
}
@media (max-width: 800px) {
  .title {
    font-size: 45px;
    line-height: 42px;
  }
}
@media (max-width: 540px) {
  .title {
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 28.5px;
  }
}

.small-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 12.6px;
  letter-spacing: -0.01em;
  color: var(--pantone-184c);
}

.hero {
  padding: 50px 0 45px 0;
}
@media (max-width: 850px) {
  .hero {
    padding: 40px 0 35px 0;
  }
}
@media (max-width: 500px) {
  .hero {
    padding: 30px 0 25px 0;
  }
}
.hero__swiper {
  padding-bottom: 5px;
}
.hero__swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: var(--gray-10);
  border-radius: 25px;
  padding: 85px 30px 50px 30px;
}
@media (max-width: 640px) {
  .hero__swiper-slide {
    padding: 40px 30px 120px 30px;
  }
}
@media (max-width: 570px) {
  .hero__swiper-slide {
    padding: 20px 15px 120px 15px;
  }
}
@media (max-width: 460px) {
  .hero__swiper-slide {
    padding: 20px 15px 165px 15px;
  }
}
@media (max-width: 360px) {
  .hero__swiper-slide {
    padding: 20px 10px 165px 10px;
  }
}
.hero__title {
  max-width: 660px;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media (max-width: 850px) {
  .hero__title {
    font-size: 50px;
  }
}
@media (max-width: 640px) {
  .hero__title {
    font-size: 35px;
    line-height: 35px;
  }
}
.hero__descr {
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
}
@media (max-width: 900px) {
  .hero__descr {
    max-width: 420px;
  }
}
@media (max-width: 640px) {
  .hero__descr {
    max-width: 370px;
  }
}
.hero__btn {
  position: relative;
  z-index: 10;
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media (max-width: 1100px) {
  .hero__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .hero__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
}
@media (max-width: 1100px) {
  .hero__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media (max-width: 800px) {
  .hero__wrap {
    margin-top: 100px;
  }
}
@media (max-width: 640px) {
  .hero__wrap {
    display: none;
    margin-top: 30px;
  }
}
.hero__wrap-mobile {
  display: none;
}
@media (max-width: 640px) {
  .hero__wrap-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hero__line {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 640px) {
  .hero__look {
    margin: 0 auto;
  }
}
.hero__bg {
  width: 510px;
  position: absolute;
  bottom: 0;
  right: 6%;
  -webkit-transform: translate(-6%);
  -ms-transform: translate(-6%);
  transform: translate(-6%);
}
@media (max-width: 1200px) {
  .hero__bg {
    right: 2%;
    -webkit-transform: translate(-2%);
    -ms-transform: translate(-2%);
    transform: translate(-2%);
  }
}
@media (max-width: 690px) {
  .hero__bg {
    width: 500px;
  }
}
@media (max-width: 640px) {
  .hero__bg {
    width: 270px;
  }
}
@media (max-width: 570px) {
  .hero__bg {
    width: 220px;
  }
}
@media (max-width: 500px) {
  .hero__bg {
    width: 190px;
  }
}
.hero__phone {
  position: absolute;
  z-index: 10;
  right: 75px;
  bottom: 40px;
  -webkit-transform: translate(-75px, -40px);
  -ms-transform: translate(-75px, -40px);
  transform: translate(-75px, -40px);
  width: 60px;
  height: 60px;
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}
@media (max-width: 1100px) {
  .hero__phone {
    right: 20px;
  }
}
@media (max-width: 460px) {
  .hero__phone {
    right: 10px;
    bottom: 10px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 0.2;
  }
  25% {
    -webkit-transform: scale(0.7);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: scale(0.8);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: scale(1);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 0.2;
  }
  25% {
    -webkit-transform: scale(0.7);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: scale(0.8);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: scale(1);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child),
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 3px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  padding: 17px 34px 0 34px;
  background-color: var(--white);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.swiper-pagination-bullet-active {
  background-color: var(--pantone-183c);
}

.stock {
  padding: 50px 0;
}
@media (max-width: 850px) {
  .stock {
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  .stock {
    padding: 30px 0;
  }
}
.stock__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 30px;
}
.stock__title {
  max-width: 590px;
  margin-top: 20px;
}
@media (max-width: 800px) {
  .stock__title {
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  .stock__title {
    max-width: 530px;
  }
}
@media (max-width: 640px) {
  .stock__title {
    max-width: 100%;
  }
}
.stock__title_pink {
  position: relative;
}
.stock__swiper-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.stock__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--light-pink);
  border-radius: 16px;
  padding: 8px;
  width: 66%;
}
@media (max-width: 1150px) {
  .stock__swiper-slide {
    padding: 15px;
    height: auto;
  }
}
.stock__swiper-slide:hover .stock__arrow {
  background-color: var(--pantone-184c);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.stock__left {
  margin: 32px 0 32px 32px;
  max-width: 400px;
}
@media (max-width: 1150px) {
  .stock__left {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.stock__data {
  padding: 8px 19px;
  border-radius: 4px;
  border: 1px solid var(--pantone-184c);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  line-height: 11.2px;
  letter-spacing: -0.01em;
  color: var(--pantone-184c);
  margin-bottom: 20px;
}
.stock__img-mobile {
  display: none;
  position: relative;
}
@media (max-width: 1150px) {
  .stock__img-mobile {
    display: block;
  }
}
.stock__img-mobile .stock__img {
  width: 100%;
}
.stock__subtitle {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -1px;
  color: var(--black);
  max-width: 320px;
  margin-bottom: 15px;
}
@media (max-width: 1150px) {
  .stock__subtitle {
    margin-top: 15px;
  }
}
.stock__subtitle_pink {
  color: var(--pantone-184c);
  text-transform: uppercase;
}
.stock__subtitle_discount {
  line-height: 27px;
  letter-spacing: -0.5px;
  background-color: var(--pantone-184c);
  color: var(--white);
  border-radius: 4px;
  padding: 4px 3px;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.stock__descr {
  font-size: 18px;
  line-height: 19.8px;
  letter-spacing: -0.5px;
  color: var(--black);
  max-width: 331px;
  margin-top: 15px;
}
.stock__img {
  border-radius: 10px;
  height: 100%;
}
.stock__item {
  font-size: 18px;
  line-height: 19.8px;
  letter-spacing: -0.5px;
  color: var(--black);
}
.stock__item:not(:last-child) {
  margin-bottom: 15px;
}
.stock__item_span {
  font-weight: 700;
}
.stock__right {
  position: relative;
}
@media (max-width: 1151px) {
  .stock__right {
    display: none;
  }
}
.stock__arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.stock__quantity {
  position: absolute;
  top: 18px;
  right: -16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 11.2px;
  letter-spacing: -0.01em;
}
@media (max-width: 800px) {
  .stock__quantity {
    top: 9px;
    right: -16px;
  }
}

.swiper-button-lock {
  display: block;
}

.why {
  padding: 50px 0;
}
@media (max-width: 850px) {
  .why {
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  .why {
    padding: 30px 0;
  }
}
.why__bg {
  width: 1140px;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 400px;
}
.why__content {
  background-color: var(--pantone-184c);
  border-radius: 20px;
  padding: 40px 32px;
}
@media (max-width: 1200px) {
  .why__content {
    position: relative;
    z-index: 10;
    margin-top: -17px;
  }
}
@media (max-width: 850px) {
  .why__content {
    padding: 30px 20px;
  }
}
@media (max-width: 450px) {
  .why__content {
    padding: 15px;
  }
}
.why__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  row-gap: 20px;
}
@media (max-width: 1050px) {
  .why__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 950px) {
  .why__list {
    gap: 20px;
  }
}
@media (max-width: 640px) {
  .why__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.why__item:not(:first-child) {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.why__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 42.75px;
  letter-spacing: -3px;
  color: var(--white);
  margin-bottom: 10px;
}
@media (max-width: 400px) {
  .why__title {
    font-size: 30px;
    line-height: 28.5px;
  }
}
@media (max-width: 450px) {
  .why__title {
    margin-top: 15px;
  }
}
.why__descr {
  font-weight: 500;
  line-height: 11.2px;
  letter-spacing: -0.01em;
  color: var(--white);
}
@media (max-width: 640px) {
  .why__descr {
    margin-bottom: 15px;
  }
}
.why__subdescr {
  line-height: 14px;
  color: var(--white);
}
.why__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 10px;
  margin-top: auto;
}
.why__top {
  margin-bottom: 15px;
}
@media (max-width: 850px) {
  .why__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 850px) {
  .why__tooltip {
    display: none;
  }
}
.why__tooltip-mobile {
  display: none;
}
@media (max-width: 850px) {
  .why__tooltip-mobile {
    display: block;
  }
}

.injection {
  padding: 50px 0;
}
@media (max-width: 850px) {
  .injection {
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  .injection {
    padding: 30px 0;
  }
}
.injection__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.injection__title {
  display: inline;
}
.injection__swiper-slide {
  height: auto;
}
.injection__swiper-slide:hover .injection__arrow {
  background-color: var(--pantone-184c);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.injection__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.injection__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: -20px;
  background-color: var(--white);
  z-index: 10;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid var(--gray);
}
.injection__top {
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 15px;
}
@media (max-width: 800px) {
  .injection__top {
    margin-top: 10px;
  }
}
@media (max-width: 540px) {
  .injection__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
}
.injection__descr {
  max-width: 550px;
}
@media (max-width: 670px) {
  .injection__descr {
    max-width: 530px;
  }
}
.injection__img {
  width: 100%;
}
.injection__type {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border: 1px solid var(--pantone-184c);
  border-radius: 4px;
  padding: 7px 10px;
  margin-left: 20px;
}
.injection__type img {
  width: 15px;
  height: 15px;
}
@media (max-width: 540px) {
  .injection__type {
    margin-left: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.injection__subtitle {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1px;
  color: var(--black);
}
@media (max-width: 640px) {
  .injection__subtitle {
    font-size: 24px;
  }
}
.injection__sublist {
  margin-top: 15px;
  margin-bottom: 45px;
}
.injection__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.injection__subitem:not(:last-child) {
  margin-bottom: 15px;
}
.injection__subdescr {
  color: var(--black);
}
.injection__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: auto;
}
.injection__price {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1px;
  color: var(--black);
}
@media (max-width: 640px) {
  .injection__price {
    font-size: 24px;
  }
}
.injection__more {
  margin: 30px auto 0 auto;
}

.hardware {
  padding: 50px 0;
}
@media (max-width: 850px) {
  .hardware {
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  .hardware {
    padding: 30px 0;
  }
}

.form {
  padding: 50px 0;
}
@media (max-width: 850px) {
  .form {
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  .form {
    padding: 30px 0;
  }
}
.form__heart {
  position: relative;
}
.form__heart img {
  margin: 0 auto;
  margin-bottom: -12px;
  background-color: var(--white);
  padding: 12px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.form__top {
  max-width: 1140px;
  width: 100%;
  background-color: var(--gray-10);
  margin: 0 auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 30px 20px;
}
@media (max-width: 550px) {
  .form__top {
    padding: 30px 10px;
  }
}
.form__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 42.75px;
  letter-spacing: -3px;
  max-width: 655px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.form__title_pink {
  color: var(--pantone-184c);
}
@media (max-width: 850px) {
  .form__title {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  .form__title {
    font-size: 30px;
  }
}
.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 850px) {
  .form__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
  }
}
.form__input {
  padding: 20px;
  border: none;
  border-radius: 6px;
  max-width: 360px;
  width: 100%;
  outline: 0;
  outline-offset: 0;
}
@media (max-width: 450px) {
  .form__input {
    max-width: 270px;
  }
}
.form__btn {
  margin: 20px auto 0 auto;
  position: relative;
  z-index: 10;
}
.form__form {
  text-align: center;
}
@media (max-width: 450px) {
  .form__form {
    text-align: left;
  }
}
.form__img {
  margin: -21px auto 0 auto;
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.custom-checkbox__content {
  padding-left: 25px;
  cursor: pointer;
}
.custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.custom-checkbox__content {
  padding-left: 30px;
  cursor: pointer;
}
@media (max-width: 450px) {
  .custom-checkbox__content {
    font-size: 12px;
    padding-left: 25px;
  }
}
.custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  border: 2px solid var(--pantone-183c);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: var(--pantone-183c);
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: 10px 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: none;
  outline-offset: 0;
}

.workers {
  padding: 50px 0;
}
@media (max-width: 850px) {
  .workers {
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  .workers {
    padding: 30px 0;
  }
}
.workers__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
}
@media (max-width: 540px) {
  .workers__head {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
.workers__title {
  width: 715px;
}
.workers__img {
  width: 100%;
}
.workers__top {
  position: relative;
}
.workers__swiper-slide {
  padding: 15px;
  background-color: var(--light-pink);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.workers__name {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: var(--pantone-184c);
  margin-top: 15px;
  margin-bottom: 5px;
}
.workers__function {
  display: block;
  color: var(--gray);
  font-size: 10px;
  line-height: 12px;
}
.workers__more {
  padding: 10px 20px;
}
@media (max-width: 450px) {
  .workers__more {
    padding: 10px;
  }
}
.workers__experience {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--white);
  display: inline-block;
}
.workers__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  gap: 5px;
}
.workers__look {
  padding: 10px 20px;
  border-radius: 100px;
  background-color: var(--white);
}
.workers__look span {
  line-height: 11.8px;
}
@media (max-width: 450px) {
  .workers__look {
    padding: 10px;
  }
}

.contacts {
  padding: 50px 0;
}
@media (max-width: 850px) {
  .contacts {
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  .contacts {
    padding: 30px 0;
  }
}
.contacts__title {
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (max-width: 540px) {
  .contacts__title {
    margin-top: 10px;
  }
}

.map {
  max-width: 1140px;
  width: 100%;
  height: 400px;
}
/*# sourceMappingURL=main.css.map */